/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

/* reset.css */
main {
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 60vh;  /* viewport height  */
    /* border: 2px dashed red; */
    
}

body {
    margin: 0;
    font-family: 'Titillium web', 'Open Sans';
    background-color: rgb(254, 254, 254);
}

.container {
    text-align: center;
}

.btn {
    font-family: 'Titillium Web', 'Open Sans';
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background: transparent;
    border: 2px dashed black;
    padding: 0.5rem 0.75rem; /* 2개 : 상하 좌우 */
    margin: 0.5rem;
}
